.box {
  width: 100px;
  height: 100px;
  background-color: #8092f7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.box1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  animation: MoveUpDown 5s linear infinite;
}

.box2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

@keyframes MoveUpDown {
  0%,
  100% {
    top: 0;
  }
  50% {
    top: 100%;
  }
}
